ECampWebApplication/web/WEB-INF/wsdl/localhost_31108/CampWebService/CampWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CampWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:31108/CampWebService/CampWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="getCampOffers">
<part name="parameters" element="tns:getCampOffers"/>
</message>
<message name="getCampOffersResponse">
<part name="parameters" element="tns:getCampOffersResponse"/>
</message>
<message name="getCampOfferById">
<part name="parameters" element="tns:getCampOfferById"/>
</message>
<message name="getCampOfferByIdResponse">
<part name="parameters" element="tns:getCampOfferByIdResponse"/>
</message>
<portType name="CampWebService">
<operation name="createBooking">
<input wsam:Action="http://ws/CampWebService/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://ws/CampWebService/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
<operation name="getCampOffers">
<input wsam:Action="http://ws/CampWebService/getCampOffersRequest" message="tns:getCampOffers"/>
<output wsam:Action="http://ws/CampWebService/getCampOffersResponse" message="tns:getCampOffersResponse"/>
</operation>
<operation name="getCampOfferById">
<input wsam:Action="http://ws/CampWebService/getCampOfferByIdRequest" message="tns:getCampOfferById"/>
<output wsam:Action="http://ws/CampWebService/getCampOfferByIdResponse" message="tns:getCampOfferByIdResponse"/>
</operation>
</portType>
<binding name="CampWebServicePortBinding" type="tns:CampWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCampOffers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCampOfferById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CampWebService">
<port name="CampWebServicePort" binding="tns:CampWebServicePortBinding">
<soap:address location="http://localhost:31108/CampWebService/CampWebService"/>
</port>
</service>
</definitions>