ECampWebApplication/web/WEB-INF/wsdl/localhost_31108/CustomerWebService/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:31108/CustomerWebService/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="sendEmails">
<part name="parameters" element="tns:sendEmails"/>
</message>
<message name="sendEmailsResponse">
<part name="parameters" element="tns:sendEmailsResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="findCustomer">
<part name="parameters" element="tns:findCustomer"/>
</message>
<message name="findCustomerResponse">
<part name="parameters" element="tns:findCustomerResponse"/>
</message>
<message name="getBookingHistory">
<part name="parameters" element="tns:getBookingHistory"/>
</message>
<message name="getBookingHistoryResponse">
<part name="parameters" element="tns:getBookingHistoryResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="sendEmails">
<input wsam:Action="http://ws/CustomerWebService/sendEmailsRequest" message="tns:sendEmails"/>
<output wsam:Action="http://ws/CustomerWebService/sendEmailsResponse" message="tns:sendEmailsResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://ws/CustomerWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://ws/CustomerWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/CustomerWebService/addCustomer/Fault/Exception"/>
</operation>
<operation name="findCustomer">
<input wsam:Action="http://ws/CustomerWebService/findCustomerRequest" message="tns:findCustomer"/>
<output wsam:Action="http://ws/CustomerWebService/findCustomerResponse" message="tns:findCustomerResponse"/>
</operation>
<operation name="getBookingHistory">
<input wsam:Action="http://ws/CustomerWebService/getBookingHistoryRequest" message="tns:getBookingHistory"/>
<output wsam:Action="http://ws/CustomerWebService/getBookingHistoryResponse" message="tns:getBookingHistoryResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendEmails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:31108/CustomerWebService/CustomerWebService"/>
</port>
</service>
</definitions>